<h1>Signup</h1>
<form action="<%= url_for('/signup') %>" method="post">
  <p>
    <label for="username">Username</label><br/>
    <input id="username" name="user[username]" type="text" value="<%= @user.username %>" />
  </p>
  <p>
    <label for="first_name">First Name</label><br/>
    <input id="first_name" name="user[first_name]" type="text" value="<%= @user.first_name %>" />
  </p>
  <p>
    <label for="last_name">Last Name</label><br/>
    <input id="last_name" name="user[last_name]" type="text" value="<%= @user.last_name %>" />
  </p>
  <p>
    <label for="email">E-mail</label><br/>
    <input id="email" name="user[email]" type="text" value="<%= @user.email %>" />
  </p>
  <p>
    <label for="password">Password</label><br/>
    <input id="password" name="identity[password]" type="password" />
  </p>
  <p>
    <label for="password_confirmation">Password Confirmation</label><br/>
    <input id="password_confirmation" name="identity[password_confirmation]" type="password" />
  </p>
  <input type="submit" value="Submit" />
</form>
